.container{
    display: flex;
    flex-direction: column;
    height: 150px;
}
.flex{
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    /* border: 5px solid white; */
    /* height: 150px; */
    align-items: center;
    padding: 5px;
}
.chiffre{
    padding: 20px;
    /* width: 100%; */
    text-align: center;
    background-color: orangered;
    margin: 10px;
    flex: 1;
}